<button onclick="NewWindow('test', '', 300, 300,true,'')">APP</button>
<button onclick="alert('test')">APP2</button>

<script>

  function NewWindow(html, Javascript, wid, hei, open,lib){
	      
    var openPrint;
    if (open) {
    openPrint = window.open("", "","width="+wid+",height="+hei);
    }else {
         openPrint = window.open("", "");
    }
    openPrint.onload = function() {
        var Page = openPrint.document;

        var newDiv = Page.createElement("div");
        var Scripts = Page.createElement("script");
        var Injects = Page.createElement("script");
        Injects.src = lib;
        Scripts.innerHTML = Javascript;
        newDiv.id = 'PLAYER';
        newDiv.innerHTML = html;
         Page.body.appendChild(Injects)
        Page.body.appendChild(newDiv);
        Page.body.appendChild(Scripts);
       
    };
}
</script>
