<div id="tabOS">
  <ul>
    <li><a href="#tabs-1"><p id="T1">1</p></a></li>
    <li><a href="#tabs-2"><p id="T2">2</p></a></li>
    <li><a href="#tabs-3"><p id="T3">3</p></a></li>
  </ul>
  <div id="tabs-1">
 <div id="T1C" ></div>
  </div>
  <div id="tabs-2">
   <div id="T2C" ></div>
  </div>
  <div id="tabs-3">
     <div id="T3C" ></div>
  </div>
</div>
<script>
  
$( function() {
   $( "#tabOS" ).tabs();
  } );
    </script>
